<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Value for You</title>
</head>
<body>
<div>
  <h1>Congratulations, {{name}}!</h1>
  <p>You've successfully referred {{referredEmail}} to our platform.</p>
  <p>As a thank you, we've credited your account with <strong>{{points}} points</strong>!</p>
  <p>These points can be used to purchase tickets or get discounts on future events.</p>
</div>
</body>
</html>