<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting Letter</title>
</head>
<body>
    <h1>Welcome to Our Website</h1>
    <h4>Lets Have Some Fun, {{email}}</h4>
    <a href="{{fe_url}}">
        <button >Account Activation</button>
    </a>
</body>
</html>